<div>
    <mat-card>
        <mat-card-title>Titre de la carte</mat-card-title>
        <mat-card-subtitle>Sous-Titre de la carte</mat-card-subtitle>
        <mat-card-content>
            <p>Contenu de la carte</p>
            <p> Morbi vel bibendum est, ac sagittis purus. Praesent volutpat tempus dignissim. Nunc non fringilla urna, aliquet ornare ante. Nulla quis ipsum sit amet est porttitor dictum. Cras in felis feugiat, convallis arcu hendrerit, aliquam felis. Duis id laoreet diam, eu sollicitudin urna. Sed ullamcorper pulvinar est ut gravida. </p>
        </mat-card-content>
    </mat-card>
</div>